@font-face {
  font-family: 'SuisseIntl-Black';
  src: url('./assets/fonts/SuisseIntl-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl-BlackItalic';
  src: url('./assets/fonts/SuisseIntl-Blackitalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'SuisseIntl-Bold';
  src: url('./assets/fonts/SuisseIntl-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl-BoldItalic';
  src: url('./assets/fonts/SuisseIntl-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'SuisseIntl-Book';
  src: url('./assets/fonts/SuisseIntl-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl-BookItalic';
  src: url('./assets/fonts/SuisseIntl-BookItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'SuisseIntl-Light';
  src: url('./assets/fonts/SuisseIntl-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl-LightItalic';
  src: url('./assets/fonts/SuisseIntl-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'SuisseIntl-Medium';
  src: url('./assets/fonts/SuisseIntl-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl-MediumItalic';
  src: url('./assets/fonts/SuisseIntl-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'SuisseIntl-Regular';
  src: url('./assets/fonts/SuisseIntl-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl-RegularItalic';
  src: url('./assets/fonts/SuisseIntl-RegularItalic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SuisseIntl-SemiBold';
  src: url('./assets/fonts/SuisseIntl-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl-SemiBoldItalic';
  src: url('./assets/fonts/SuisseIntl-SemiBoldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'SuisseIntl-Thin';
  src: url('./assets/fonts/SuisseIntl-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl-ThinItalic';
  src: url('./assets/fonts/SuisseIntl-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'SuisseIntl-Ultralight';
  src: url('./assets/fonts/SuisseIntl-Ultralight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SuisseIntl-UltralightItalic';
  src: url('./assets/fonts/SuisseIntl-UltralightItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}
